<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome</h1>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <b>Mobile No : {{phone}}</b>
            </div>   
        </div>
        <div class="col-md-6">
            <div>
                <b>Email address : {{email}}</b>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button (click) ="onNext(rem1,rem2,rem3)" type="button" class="btn btn-primary float-right">Back</button>   
        </div>
    </div>
</div>